<% provide(:title, "") %>
<div class= "top-background">
  <div class = "top-content">
    <div class = "top-text">
      <h3>教え方</h3>
      <h1>日本一!</h1>
      <p>寺子屋SUZUKIは勉強の仕方を教えて学力を伸ばします！</p>
    </div>
  <% if logged_in? %>
  <% if current_user.admin? %>
    <%= link_to "生徒登録", signup_path  %> 
    <%= link_to "講師登録", new_teacher_path %>
    <div class= "logout-top">
      <%= link_to "マイページ", user_path(current_user) %>
    </end>
  <% else %>
    <%= link_to "マイページ", user_path(current_user) %>
  <% end %>
  <% else %>
    <div class= "logout-top">
      <%= link_to "ログイン", login_path %>
      <div class= "or">or</div>
      <%= link_to "生徒登録", signup_path %>
    </div>
  <% end %>
    <div class= "logout-top">
      <%= link_to "塾長プロフィール", user_path(1) %>
    </div>
  <% unless logged_in? %>
    <div class= "logout-top">
      <a href="https://lin.ee/3FxbHcywo" id="line"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="58" border="0"></a>
    </div>
  <% end %>
  </div>
</div>