<% provide(:title, 'Teachers') %>
<h1>講師一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th>講師<%= User.human_attribute_name :number %></th>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.number %></td>
        <td><%= link_to user.name, user %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>