<% provide(:title, 'Students') %>
<h1>生徒一覧</h1>
<%= will_paginate %>
<div class="col-md-10 col-md-offset-1">
  <div class = "search-grade">
    <%= form_tag(search_path, method: "get") do %>
     <%= select_tag :grade, options_for_select([["中1", 1],["中2", 2],["中3", 3],["高1", 4],["高2", 5],["高3", 6]]), include_blank: "学年で検索", class: "form-control" %>
     <%= submit_tag "絞り込み", class: "btn btn-primary btn-block btn-signup"  %>
    <% end %>
  </div>

  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th>生徒<%= User.human_attribute_name :number %></th>
        <th><%= User.human_attribute_name :name %></th>
        <th><%= User.human_attribute_name :grade %></th>
        <th><%= User.human_attribute_name :school %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.number %></td>
        <td><%= link_to user.name, user %></td>
        <td>
          <% if (user.grade == 1) ||  (user.grade == 2) ||  (user.grade == 3) %>
            <%= user.grade %>
          <% elsif user.grade == 4 %>
            1(高)
          <% elsif user.grade == 5 %>
            2(高)
          <% elsif user.grade == 6 %>
            3(高)
          <% end %>
          </td>
        <td><%= user.school %></td>
      </tr>
    <% end %>
  </table>
<%= will_paginate %>
</div>