<% provide(:title, @user.name) %>
<% if @user.teacher == true %>
    <h3>講師ID：<%= @user.number %></h3>
<% elsif @user.admin? %>
  <h3>寺子屋SUZUKI　塾長</h3>
<% else %>
    <h3>生徒ID：<%= @user.number %></h3>
<% end %>

<div class="image">
  <% if @user.image? %>
    <li><%= image_tag @user.image.url %></li>
  <% end %>
<h1><%= @user.name %></h1>
</div>
<div class="col-md-10 col-md-offset-1 user-show-table">
  <table class="table table-condensed table-bordered table-hover" id="table-users">
    <% if @user.teacher == true %>
    <% if current_user.admin? %>
      <tr>
        <th>電話番号</th>
        <td><%= @user.tel %></td>
      </tr>
    <% end %>
    
    <tr>
      <th>入塾日</th>
      <td><%= l(@user.created_at, format: :day) %></td>
    </tr>
    <% elsif @user.admin? %>
    <b>入塾希望の方はこちらまで！</b>
    <b>お問い合わせは<%= link_to "こちら", contacts_new_path %></b>
    <tr>
      <th>電話番号</th>
      <td><%= @user.tel %></td>
    </tr>
    <tr>
      <th>出身校</th>
      <td><%= @user.school %></td>
    </tr>
    <% else %>
    <tr>
      <th>学校名</th>
      <td><%= @user.school %></td>
    </tr>
    
    <tr>
      <th>学年</th>
      <td>
         <% if (@user.grade == 1) ||  (@user.grade == 2) ||  (@user.grade == 3) %>
            <%= @user.grade %>
          <% elsif @user.grade == 4 %>
            1(高)
          <% elsif @user.grade == 5 %>
            2(高)
          <% elsif @user.grade == 6 %>
            3(高)
          <% end %>
      </td>
    </tr>
    
    <tr>
      <th>電話番号</th>
      <td><%= @user.tel %></td>
    </tr>
    
    <tr>
      <th>入塾日</th>
      <td><%= l(@user.created_at, format: :day) %></td>
    </tr>
    <% end %>
    <% if logged_in? %>
      <% if current_user.teacher? && @user.teacher == false %>
        <% unless @user.admin? %>    
          <tr>
            <th>日報提出</th>
            <td>
              <%= link_to "日報提出", new_user_report_path(@user), class: "btn btn-info" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% if current_user.teacher? || current_user.admin?  %>
    <% unless @user.teacher? || @user.admin? %>
    <tr>
      <th>日報一覧</th>
      <td>
        <%= link_to "日報一覧", user_reports_path(@user), class: "btn btn-info" %>
      </td>
    </tr>
    <% end %>
    <% end %>
    <% end %>
  </table>
<% if logged_in? %>
<div class= "edit-btn">
      <% if current_user.admin? || current_user?(@user)  %>
        <% if @user.teacher? %>
            <%= link_to "勤怠登録", user_attendances_path(@user), class: "btn btn-success" %>
        <% end %>
      <% end %>
   <% if current_user.admin? && !current_user?(@user) %>
     <%= link_to "削除", @user, method: :delete,
         data: { confirm: "削除してよろしいですか？" },
         class: "btn btn-danger" %>
   <% end %>
    <% if current_user.admin? && !current_user?(@user) %>
        <% if @user.teacher != true %>
            <%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
        <% else %>
            <%= link_to "編集", edit_teacher_user_path(@user), class: "btn btn-success" %>
        <% end %>
   <% end %>
   <% unless @user.admin? || @user.teacher? %>
     <% if current_user?(@user) %>
      <%= link_to "テスト結果報告", new_user_test_path(@user), class: "btn btn-warning" %>
     <% end %>
      <%= link_to "テスト個票", user_tests_path(@user), class: "btn btn-warning" %>
   <% end %>
   </div>
<% end %>
</div>