<% provide(:title, @user.name) %>
<% if @user.teacher == true %>
    <h3>講師ID：<%= @user.number %></h3>
<% else %>
    <h3>生徒ID：<%= @user.number %></h3>
<% end %>
<h1><%= @user.name %></h1>

<div class="col-md-10 col-md-offset-1 user-show-table">
  <table class="table table-condensed table-bordered table-hover" id="table-users">
    <% if @user.teacher == true %>
    <tr>
      <th>電話番号</th>
      <td><%= @user.tel %></td>
    </tr>
    
    <tr>
      <th>入塾日</th>
      <td><%= l(@user.created_at, format: :day) %></td>
    </tr>
    <% else %>
    <tr>
      <th>学校名</th>
      <td><%= @user.school %></td>
    </tr>
    
    <tr>
      <th>学年</th>
      <td>
         <% if (@user.grade == 1) ||  (@user.grade == 2) ||  (@user.grade == 3) %>
            <%= @user.grade %>
          <% elsif @user.grade == 4 %>
            1(高)
          <% elsif @user.grade == 5 %>
            2(高)
          <% elsif @user.grade == 6 %>
            3(高)
          <% end %>
      </td>
    </tr>
    
    <tr>
      <th>電話番号</th>
      <td><%= @user.tel %></td>
    </tr>
    
    <tr>
      <th>入塾日</th>
      <td><%= l(@user.created_at, format: :day) %></td>
    </tr>
    <% end %>
  </table>
<div class= "edit-btn">
   <% if current_user.admin? && !current_user?(@user) %>
     <%= link_to "削除", @user, method: :delete,
         data: { confirm: "削除してよろしいですか？" },
         class: "btn btn-danger" %>
   <% end %>
    <% if current_user.admin? && !current_user?(@user) %>
        <% if @user.teacher != true %>
            <%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
        <% else %>
            <%= link_to "編集", edit_teacher_user_path(@user), class: "btn btn-success" %>
        <% end %>
   <% end %>
   </div>
</div>