<% provide(:title, 'テスト個票') %>
<div class="col-md-10 col-md-offset-1">
  <h1>【テスト個票】<%= link_to @user.name, @user %></h1>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th></th>
        <th>テスト結果報告日</th>
        <th>テスト名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @tests.each do |test| %>
    <tr>
      <td>
        <% if test.types == 1 %>
          定期
        <% elsif test.types == 2 %>
          模試
        <% end %>
        </td>
      <td><%= test.day %></td>
      <td><%= link_to test.name, show_subject_user_test_path(@user, test), remote: true %></td>
      <td><%= link_to "編集", edit_user_test_path(@user, test), class: "btn btn-success" %></td>
      <td><%= link_to "削除", user_test_path(@user, test), method: :delete,
         data: { confirm: "削除してよろしいですか？" },
         class: "btn btn-danger" %></td>
    </tr>

    <% end %>
  </table>
    <div class= "total-subject">
      <h3>定期テスト5教科</h3>
      <%= column_chart @periodic_tests.pluck(:day, :five_subjects) %>
    </div>
    
    <div class= "total-subject">
      <h3>模試5教科</h3>
      <%= column_chart @demo_tests.pluck(:day, :five_subjects) %>
    </div>
    
        <div class= "total-subject">
      <h3>定期テスト3教科</h3>
      <%= column_chart @periodic_tests.pluck(:day, :three_subjects) %>
    </div>
    
    <div class= "total-subject">
      <h3>模試3教科</h3>
      <%= column_chart @demo_tests.pluck(:day, :three_subjects) %>
    </div>
  
  <button type="button"  data-toggle="collapse" data-target="#testdemo1", class= "btn btn-primary">定期テスト</button>
  <div id="testdemo1" class="collapse test-note">
    <div class= "subject">
      <h3>英語</h3>
      <%= column_chart @periodic_tests.pluck(:day, :english) %>
    </div>
    <div class= "subject">
    <h3>数学</h3>
    <%= column_chart @periodic_tests.pluck(:day, :math) %>
    </div>
    <div class= "subject">
    <h3>国語</h3>
    <%= column_chart @periodic_tests.pluck(:day, :japanese) %>
    </div>
    <div class= "subject">
    <h3>理科</h3>
    <%= column_chart @periodic_tests.pluck(:day, :science) %>
    </div>
    <div class= "subject">
    <h3>社会</h3>
    <%= column_chart @periodic_tests.pluck(:day, :society) %>
    </div>
  </div>
  
  <button type="button"  data-toggle="collapse" data-target="#testdemo2", class= "btn btn-primary">模試</button>
  <div id="testdemo2" class="collapse test-note">
    <div class= "subject">
      <h3>英語</h3>
      <%= column_chart @demo_tests.pluck(:day, :english) %>
    </div>
    <div class= "subject">
    <h3>数学</h3>
    <%= column_chart @demo_tests.pluck(:day, :math) %>
    </div>
    <div class= "subject">
    <h3>国語</h3>
    <%= column_chart @demo_tests.pluck(:day, :japanese) %>
    </div>
    <div class= "subject">
    <h3>理科</h3>
    <%= column_chart @demo_tests.pluck(:day, :science) %>
    </div>
    <div class= "subject">
    <h3>社会</h3>
    <%= column_chart @demo_tests.pluck(:day, :society) %>
    </div>
  </div>
</div>

<!--モーダルウインドウ表示-->
<div id="show-subject" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>