<% provide(:title, '日報申請') %>
<h1>日報申請</h1>
<div class="col-md-10 col-md-offset-1">
 <%= form_with(model: @user, url: admin_update_user_report_path(@user) , method: :patch, local: true) do |f| %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th class="report"><%= Report.human_attribute_name :day %></th>
        <th class="report">生徒名</th>
        <th class="report"><%= Report.human_attribute_name :subject %></th>
        <th class="report">担当講師</th>
        <th><%= Report.human_attribute_name :note %></th>
        <th class="report">変更</th>
        <th class="report">塾長㊞</th>
      </tr>
    </thead>

    <% @reports.each do |report| %>
      <tr>
        <td class="report"><%= l(report.day, format: :day) %></td>
        <td class="report"><%= report.user.name %></td>
        <td class="report"><%= report.subject %></td>
        <td class="report"><%= User.find_by(id: report.teacher_id).name %></td>
        <td>
            <button type="button"  data-toggle="collapse" data-target="#demo<%= report.id %>">▽</button>
            <div id="demo<%= report.id %>" class="collapse report-note">
                <p><%= report.note %></p>
            </div>
        </td>
        <%= f.fields_for "reports[]", report do |r| %>
        <td class="report">
          <%= r.check_box :change, as: :boolean %>    
        </td>
        <td class="report-form">
          <%= r.select :admin_confirm,[
                      ["未確認", 1],
                      ["確認済", 2]
                      ] ,{}, {class: "form-control"}
                      %>
        </td>
        <% end %>
        <% end %>
      </tr>
  </table>
    <% unless @reports_count == 0 %>
      <%= f.submit "変更を送信する" ,class: "btn btn-primary btn-lg approval-btn" %>
    <% else %>
      <h3>現在申請はありません。</h3>
    <% end %>
  <% end %>
</div>