<% provide(:title, '日報一覧') %>
<h1>日報一覧</h1>
<h3>生徒名：<%= @user.name %></h3>
<div class="col-md-10 col-md-offset-1">

  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th class="report"><%= Report.human_attribute_name :day %></th>
        <th class="report"><%= Report.human_attribute_name :subject %></th>
        <th class="report">担当講師</th>
        <th><%= Report.human_attribute_name :note %></th>
      </tr>
    </thead>

    <% @reports.each do |report| %>
    <% if report.admin_confirm == 2 %>
      <tr>
        <td class="report"><%= l(report.day, format: :day) %></td>
        <td class="report"><%= report.subject %></td>
        <td class="report"><%= User.find_by(id: report.teacher_id).name %></td>
        <td>
            <button type="button"  data-toggle="collapse" data-target="#demo<%= report.id %>">▽</button>
            <div id="demo<%= report.id %>" class="collapse report-note">
                <p><%= report.note %></p>
            </div>
        </td>
      </tr>
    <% elsif report.admin_confirm == 1 %>
      <tr>
        <td><%= l(report.day, format: :day) %></td>
        <td></td>
        <td><%= User.find_by(id: report.teacher_id).name %></td>
        <td>塾長確認待ち</td>
      </tr>
    <% end %>
    <% end %>
  </table>
</div>