<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "寺子屋suzuki", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        
        <li><%= link_to "ホーム", root_path %></li>
        <% if logged_in? %>
          <li>
            <% if current_user.admin? %>
              <%= link_to "日報一覧(#{Report.where(admin_confirm: 1).count})", reports_admin_index_user_path(current_user) %>
            <% end %>
          </li>
          <% if current_user.teacher? %>
            <li><%= link_to "勤怠登録", user_attendances_path(current_user) %></li>
          <% end %>
          <% if current_user.admin? || current_user.teacher? %>
            <li><%= link_to "生徒一覧", users_path %></li>
          <% end %>
          <li><%= link_to "講師一覧", index_teacher_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user %></li>
              <% unless current_user.teacher? %>
                <li><%= link_to "情報編集", edit_user_path(current_user) %></li>
              <% else %>
                <li><%= link_to "情報編集", edit_teacher_user_path(current_user) %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>